@font-face {
  font-family:'TravelingTypewriter';
  src: url('../assets/TravelingTypewriter.otf');
}

body {
  background: url(../assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
.header {
  /*background-color: #d6c6a7;*/
  text-align: center;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px;
}
h2 {
  margin: 0px;
  color:white;
  font-weight:bold;
  font-size: 30px;
}

span.title-underline {
  width: 200px;
  height: 10px;
  background-color: yellow;
}

.home-page {
  float:left;
  margin-top: 350px;
  margin-left: 150px;
}

.logo {
  margin: 10px 0px 0px 0px;
  position: absolute;
  top: 15px;
  left: 509px;
}

.title-and-author {
  text-align: center;
  margin-top: 0px;
  position: absolute;
  top: 77px;
  left: 567px;
}

.title {
  font-weight: bold;
}

.author {
  font-size: 16px;
  margin-bottom: 0;
}
.background {
  text-align: center;
  position: absolute;
  top: 150px;
  left: 500px;
  z-index: 1;
}

#book-background-image {
  width: 800px;
  height: 480px;
}

.button {
  border-style: none;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 18px;
}

.next-button {
  position: absolute;
  top: 350px;
  right: 60px;
}

.prev-button {
  position: absolute;
  top: 350px;
  left: 430px;
}

.left-page-text {
  z-index: 1000;
  width:313px;
  height:300px;
  position: absolute;
  top: 190px;
  left: 580px;
}

.left-page-image {
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 570px;
  top: 361px;
}

.page-image {
  width: 300px;
  border-radius: 15px;
}

.right-page-text {
  z-index: 1000;
  width: 313px;
  height: 300px;
  position: absolute;
  top: 190px;
  left: 940px;
}

.right-page-image {
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 935px;
  top: 350px;
}

.line {
  height: 10px;
}

#button-preview {
  border-style: none;
  color: white;
  background-color: black;
  font-size: 18px;
  padding: 10px;
  font-family: TravelingTypewriter, sans-serif;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#button-invite {
  border-style: none;
  padding: 8px 10px 12px 10px;
  color: white;
  background-color: black;
  font-size: 18px;
  font-family: TravelingTypewriter, sans-serif;
  position: absolute;
  top: 80px;
  left: 20px;

}

#webcam-features {
  margin: 0 auto;
  text-align: center;
}

#invite-to {
  width: 300px;
  height: 39px;
  position: absolute;
  top: 79px;
  left: 100px;
}
#signup {
  text-align: center;
}
input {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  padding-left:0px;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px  #ffcc00 inset;
}


.submit-button {

  float:right;
  background: transparent;
  outline: none;
  width: 100px;
  margin-top:30px;
  margin-right: 40px;
  padding:10px;
  border: 1px solid black;
}
.submit-button:active {
  background:black;
  color:white;
}
.signup-link{
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
  font-size: 15px;
}
#invite-section {
  padding-left: 10px;
}
::-webkit-input-placeholder {

  font-size: 15px;
  text-align: left;
  color: black;
}

:-moz-placeholder { /* Firefox 18- */

  font-size: 15px;
  text-align: left;
  color: black;
}

::-moz-placeholder {  /* Firefox 19+ */

  font-size: 15px;
  text-align: left;
  color: black;
}

:-ms-input-placeholder {

  font-size: 15px;
  text-align: left;
  color: black;
}

#webcam-wrapper {
  vertical-align: top;
  width: 700px;
  margin: 0 auto;
}

.primary-aside {
  background-color: #ffd93b;
  height: 100%;
  width: 300px;
  position: absolute;
  right: 0;
}

.login-link {
  margin: 20px;
  position: absolute;
  right:0;
  z-index:1000;
}
.primary-header {
  margin: 20px;
  color: white;
  font-size: 40px;
  font-family: helvetica;
  letter-spacing: 3px;
  text-transform: lowercase;
  float: left;
  position: absolute;
}
.media-container {
}

.local-webcam > video {
  width: 230px;
  position: absolute;
  top: 200px;
  left: 20px;
  border-radius: 15px;
}

#your-username {
  position: absolute;
  top: 150px;
  left: 25px;
}

.remote-webcam > video {
  width: 230px;
  position: absolute;
  top: 390px;
  left: 20px;
  border-radius: 15px;
}

.canvas-container {
  position: absolute;
  top: 150px;
  left: 500px;
  z-index: 3000;
  width: 800px;
  height: 480px;
}

//------------------------------------ Chatbox
  .chatbox {
    border: 1px solid black;
    overflow: scroll;
    height: 500px;
  }

  .title {
    text-align: center;
    margin-bottom: 10px;

  }
  form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
  }

  form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }

  form button:hover {
    cursor: pointer;
  }

  #messages {
    list-style-type: none;
    margin: 10;
    padding: 10;
  }

  #messages li {
    padding: 5px 10px;
  }

  #messages li:nth-child(odd) {
    background: skyblue;
  }
